menu > li:hover {
  background-color: lightgray;
  cursor: pointer;
}

menu > li {
  border: 1px solid transparent;
  border-radius: 5px;
}

menu > .active {
  background-color: #dfdfdf;
  border-color: gray;

}
